{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
  {{#with person}}
    <h3>{{name}}</h3>
    <div>{{age}}, {{gender}}</div>
    {{#with address}}
      <div>{{street}}, {{city}}, {{state}}, {{zip}}, {{country}}</div>
    {{/with}} 
    {{#each education}}
      <div>{{degree}}</div>
      <div>{{major}}</div>
      <div>{{university}}</div>
      <div>{{graduationYear}}</div>
    {{/each}}
    {{#each workExperience}}
      <h4>{{company}}</h4>
      <h5>{{title}}</h5>
      <div>{{startDate}}-{{endDate}}</div>
      {{#each responsibilities}}
        <p>{{this}}</p>
      {{/each}}
      <div>{{year_founded}}</div>
      <div>{{industry}}</div>
      {{#each employees}}
        <h4>{{name}}</h4>
        <div>{{position}}</div>
        <div>{{department}}</div>
        {{#each projects}}
          <h4>{{name}}</h4>
          <p>{{description}}</p>
          <div>{{status}}</div>
          {{#each teams}}
            <h4>{{team_name}}</h4>
            {{#with team_leader}}
              <h4>{{name}}</h4>
              <div>{{title}}</div>
              <div>{{email}}</div>
            {{/with}}
            {{#each team_members}}
             <h4>{{name}}</h4>
              <div>{{title}}</div>
              <div>{{email}}</div>
              {{#each skills}}
                <div>{{this}}</div>
              {{/each}}
              {{#each projects}}
                <h4>{{name}}</h4>
                <p>{{discription}}</p>
                {{#each technologies}}
                  <div>{{this}}</div>
                {{/each}}
                {{#each team_members}}
                  <h4>{{name}}</h4>
                  <div>{{title}}</div>
                {{/each}}
              {{/each}}
            {{/each}}
          {{/each}} 
        {{/each}}
      {{/each}}
    {{/each}}
  {{/with}}   
    

</div>
       

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
