{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<html>
  {{#with program}}
    {{#with excursion}}
      <h2>{{name}}</h2>
      {{#with location}}
        <h3>{{city}}, {{country}}</h3>
      {{/with}} 
      <div>{{date}}</div>
      {{#each program}}
        <h3>{{name}}</h3>
        <div>{{type}}</div>
        <div>Duration: {{duration}}</div>
        {{#with details}}
          {{#with museum}}
            <p>{{name}}</p>
            {{#with location}}
              <div>Location: {{address}}, {{city}}, {{country}}</div>
            {{/with}}
            {{#each exhibits}}
              <h4>{{name}}</h4>
              <p>{{artist}}</p>
              <p>{{description}}</p>
              <p>Audio Guide: {{audio_guide}}</p>
            {{/each}}
            {{#with guide}}
              <h4>{{name}}</h4>
              <div>{{language}}</div>
              <div>Rating: {{rating}}</div>
            {{/with}}
          {{/with}}
          {{#with venue}}
            <p>{{name}}</p>
            {{#with location}}
              <div>Location: {{address}}, {{city}}, {{country}}</div>
            {{/with}}
          {{/with}}  
          {{#each performers}}
            <h4>{{name}}</h4>
            <p>Type: {{type}}</p>
          {{/each}}
          {{#with guide}}
            <h4>{{name}}</h4>
            <div>{{language}}</div>
            <div>Rating: {{rating}}</div>
          {{/with}}
        {{/with}}        
      {{/each}}
    {{/with}} 
  {{/with}}
</html>





{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
