{{!--
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<html>
    {{#with page}}
        <h1>{{title}}</h1>
    {{/with}} 
    <br>  
    {{#with main}}             
        {{#each works}}
            <h3>{{position}}</h3>
            {{#with company}}
                <a href="{{url}}"><h4>{{name}}</h4></a> 
            {{/with}}
            {{#with duration}}
                <div>{{from}}-{{to}}</div>
            {{/with}}
            <br>
            {{#each projects}}
                <a href="{{url}}"><h4>{{name}}</h4></a> 
                <div>{{about}}</div>
                <br>
                {{#each stacks}}
                   <h5>{{name}}</h5>
                {{/each}}
                <br>
                {{#each awards}}
                   <h4>{{name}}</h4>
                {{/each}}
            {{/each}}
        {{/each}}
    {{/with}}
</html>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
